[workspace]
resolver = "2"
members = ["pico2"]

[profile.release]
codegen-units = 1
debug = false
lto = "fat"
opt-level = 3
panic = "abort"
strip = true

[profile.dev]
debug = true
opt-level = 2

[profile.dev.package."*"]
opt-level = 3
